<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-9 col-sm-9 col-md-4 col-xl-3">
      <h4>Formas de pagamento</h4>
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-xl-1 text-right">
      <button class="btn btn-info border" type="button" [routerLink]="['add']"> Novo</button>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-xl-8">
      <app-filter-list (onTyping)="filter = $event" [value]="filter"></app-filter-list>
    </div>
  </div>
  <div class="row">
    <p class="text-center text-muted" *ngIf="!(paymentmethods | filterByNames: filter).length">
      Desculpe, não foram encontradas formas de pagamento
    </p>
    <table class="table table-striped table-hover" *ngIf="(paymentmethods | filterByNames: filter).length">
      <thead class="thead-light">
        <tr>
          <th scope="col">Apelido</th>
          <th scope="col">Nome</th>
          <th scope="col">Ativo</th>
          <th scope="col">Funções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentmethod of (paymentmethods | filterByNames: filter)">
          <td scope="row">{{ paymentmethod.nickName }}</td>
          <td>{{ paymentmethod.fullName }}</td>
          <td>{{ paymentmethod.actived | actived }}</td>
          <td>
            <a [routerLink]="['/formadepagamento', paymentmethod.nickName]" class="m-1 text-dark" aria-label="Editar">
              <i class="fa fa-edit"></i>
            </a>
            <a [routerLink]="" (click)="remove(paymentmethod.nickName)" class="m-1 text-dark" aria-label="Excluir">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>