<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-4 col-sm-4 col-md-4 col-xl-4">
      <h4>Diário</h4>
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-xl-8 text-right">
      <h4>({{ dailyregister.date | date : 'shortDate' }})</h4>
    </div>
  </div>
  <div class="container ">
    <div class="row pt-2">

      <div class="col-12 col-sm-12 col-md-12 col-xl-4">
        <div class="card">
          <div class="card-body">
            <form #form="ngForm" [formGroup]="entryForm" class="form" (ngSubmit)="save()">
              <div class="form-row">
                <div class="mb-2 w-100">
                  <label for="value" *ngIf="false">Valor</label>
                  <app-calculator id="value" [showDisplay]="true" [display]="displayValue" [parentForm]="entryForm">
                    <ap-vmessage *ngIf="!!entryForm.get('value').errors?.required && form.submitted"
                      text="Valor é requerido!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!entryForm.get('value').errors?.min && form.submitted"
                      text="Valor deve ser maior que Zero!">
                    </ap-vmessage>
                  </app-calculator>
                </div>
              </div>
              <div class="form-row">
                <div class="mb-2 w-100" *ngIf="salesmans;" ngbRadioGroup name="salesman" formControlName="salesman">
                  <label *ngIf="false">Vendedor</label>
                  <div *ngFor="let x of (salesmans | sliceList:3)" class="btn-group d-flex">
                    <div *ngFor="let salesman of x" class="btn-group btn-group-toggle w-100" role="group">
                      <label ngbButtonLabel class="btn btn-outline-primary" *ngIf="salesman">
                        <input ngbButton type="radio" id="salesman{{ salesman.id }}" [value]="salesman"
                          autocomplete="off">{{ salesman.nickName }}
                      </label>

                    </div>
                  </div>
                  <ap-vmessage *ngIf="!!entryForm.get('salesman').errors?.required && form.submitted"
                    text="Vendedor é requerido!">
                  </ap-vmessage>
                </div>
              </div>

              <div class="form-row">
                <div class="mb-2 w-100" *ngIf="methods;" ngbRadioGroup name="paymentMethod"
                  formControlName="paymentMethod">
                  <label *ngIf="false">Forma de pagamento</label>
                  <div *ngFor="let mgroup of (methods | sliceList:3)" class="btn-group d-flex">
                    <div *ngFor="let mitem of mgroup" class="btn-group btn-group-toggle w-100" role="group">
                      <label ngbButtonLabel class="btn btn-outline-primary">
                        <input ngbButton type="radio" id="method{{ mitem.id }}" [value]="mitem"
                          autocomplete="off">{{ mitem.nickName }}
                      </label>
                    </div>
                  </div>
                  <ap-vmessage *ngIf="!!entryForm.get('paymentMethod').errors?.required && form.submitted"
                    text="Forma de pagamento é requerida!">
                  </ap-vmessage>
                </div>
              </div>

              <div class="form-row">
                <div class="mb-2 w-100" *ngIf="conditions;" ngbRadioGroup name="paymentCondition"
                  formControlName="paymentCondition">
                  <label *ngIf="false">Condição de pagamento</label>
                  <div *ngFor="let cgroup of (conditions | sliceList:3)" class="btn-group d-flex">
                    <div *ngFor="let citem of cgroup" class="btn-group btn-group-toggle w-100" role="group">
                      <label ngbButtonLabel class="btn btn-outline-primary">
                        <input ngbButton type="radio" id="condition{{ citem.id }}" [value]="citem"
                          autocomplete="off">{{ citem.nickName }}
                      </label>
                    </div>
                  </div>
                  <ap-vmessage *ngIf="!!entryForm.get('paymentCondition').errors?.required && form.submitted"
                    text="Condição de pagamento é requerida!">
                  </ap-vmessage>
                </div>
              </div>
              <div class="form-row">
                <input type="hidden" formControlName="credit" />
                <input type="hidden" formControlName="description" />
                <input type="hidden" formControlName="type" />
                <button class="btn btn-primary" type="submit">Salvar</button>
                <button class="btn btn-light ml-1" type="reset">Limpar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-xl-8">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
                  <th scope="col" sortable="salesman.nickName" (sort)="onSort($event)">Vendedor</th>
                  <th scope="col" sortable="paymentMethod.nickName" (sort)="onSort($event)">Forma de pagamento</th>
                  <th scope="col" sortable="value" (sort)="onSort($event)">Valor</th>
                  <th scope="col" *ngIf="showActions">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entrie of entries">
                  <td scope="row">{{ entrie.id }}</td>
                  <td scope="row">{{ entrie.salesman.nickName }}</td>
                  <td class="text-center">{{ entrie.paymentMethod.nickName }}</td>
                  <td class="text-right" [ngClass]="(entrie.credit)?'text-success':'text-danger'">
                    {{ entrie.value  | currency : 'BRL' }}
                  </td>
                  <td class="text-center" *ngIf="showActions">
                    <a [routerLink]="" (click)="remove(entrie.id)" class="m-1 text-dark" aria-label="Excluir">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="showActions; else notShowActions">
                  <td class="text-right" colspan="5">
                    Total: {{ 0.00 | currency : 'BRL'}}
                  </td>
                </tr>
                <ng-template #notShowActions>
                  <td class="text-right" colspan="4">
                    Total: {{ 0.00 | currency : 'BRL'}}
                  </td>
                </ng-template>
              </tfoot>

            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>