<h4 class="text-center">Cadastro de acesso!</h4>

<form #form="ngForm" [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #emailInput formControlName="email" class="form-control" placeholder="E-mail" autofocus>
        <ap-vmessage *ngIf="!!signupForm.get('email').errors?.required && (form.submitted)"
            text="O E-mail é requerido!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="!!signupForm.get('email')?.errors?.email && (form.submitted || signupForm.get('email').touched)"
            text="E-mail inválido">
        </ap-vmessage>
        <ap-vmessage text="E-mail já existe" *ngIf="!!signupForm.get('email').errors?.emailTaken">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="fullName" class="form-control" placeholder="Nome completo">
        <ap-vmessage
            *ngIf="!!signupForm.get('fullName').errors?.required && (form.submitted || signupForm.get('fullName').touched)"
            text="Nome completo é requerido!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="!!signupForm.get('fullName').errors?.minlength && (form.submitted || signupForm.get('fullName').touched)"
            text="O nome completo deve ter ao menos 2 caracteres">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="!!signupForm.get('fullName').errors?.maxlength && (form.submitted || signupForm.get('fullName').touched)"
            text="O nome completo deve ter no máximo 60 caracteres">
        </ap-vmessage>
    </div>
    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="Senha">
        <ap-vmessage
            *ngIf="!!signupForm.get('password').errors?.required && (form.submitted || signupForm.get('password').touched)"
            text="Senha é requerida!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="!!signupForm.get('password').errors?.minlength && (form.submitted || signupForm.get('password').touched)"
            text="A senha deve ter no mínimo 4 caracteres">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="!!signupForm.get('password').errors?.maxlength && (form.submitted || signupForm.get('password').touched)"
            text="A senha deve ter no máximo 20 caracteres">
        </ap-vmessage>
        <ap-vmessage *ngIf="!!signupForm.errors?.emailPassword && form.submitted"
            text="E-mail e senha não podem coincidir">
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid" class="btn btn-primary btn-block">Salvar</button>

    <p>Já é um usuário? <a [routerLink]="['']">Acesse!</a></p>

</form>