<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
      <h4>Controle Diário</h4>
    </div>
  </div>
  <div class="container ">
    <div class="row pt-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            Diário
          </div>
          <div class="card-body">
            <form #form="ngForm" [formGroup]="dailyregistersForm" class="form">
              <div class="form-row">
                <div class="mb-2">
                  <input id="date" type="date" class="form-control" formControlName="date" aria-label="Data"
                    placeholder="Data" />
                  <ap-vmessage *ngIf="!!dailyregistersForm.get('date').errors?.required"
                    text="Data é requerida!">
                  </ap-vmessage>
                </div>
              </div>
              <div class="form-row mb-1">
                <button type="button" (click)="open()" class="btn btn-primary">Abrir</button>
                <button type="button" (click)="close()" class="btn btn-primary ml-1">Fechar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Relatórios
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>