<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-9 col-sm-9 col-md-4 col-xl-3">
      <h4>Caixas</h4>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <form #form="ngForm" [formGroup]="cashregisterForm" class="form mt-4" (submit)="save()">
        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="nickname">Apelido</label>
            <input id="nickname" #nickNameInput type="text" class="form-control" formControlName="nickName"
              aria-label="Apelido" placeholder="Apelido">
            <ap-vmessage *ngIf="!!cashregisterForm.get('nickName').errors?.required && form.submitted"
              text="Apelido é requerido!">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!cashregisterForm.get('nickName').errors?.minlength && (form.submitted || cashregisterForm.get('nickName').touched)"
              text="O apelido deve ter ao menos 2 caracteres">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!cashregisterForm.get('nickName').errors?.maxlength && (form.submitted || cashregisterForm.get('nickName').touched)"
              text="O apelido deve ter no máximo 8 caracteres">
            </ap-vmessage>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="paymentMethod">Método de pagamento padrão</label>
            <select id="paymentMethod" #methodSelect class="form-control" formControlName="defaultPaymentMethod">
              <option *ngFor="let method of methods" [ngValue]="method">
                {{method.nickName}} - {{method.fullName}}
              </option>
            </select>
            <ap-vmessage *ngIf="!!cashregisterForm.get('defaultPaymentMethod').errors?.required && form.submitted"
              text="Método de pagamento é requerido!">
            </ap-vmessage>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="defaultPaymentCondition">Condição de pagamento padrão</label>
            <select id="defaultPaymentCondition" #conditionSelect class="form-control"
              formControlName="defaultPaymentCondition">
              <option *ngFor="let condition of conditions" [ngValue]="condition">{{condition.nickName}} -
                {{condition.fullName}}</option>
            </select>
            <ap-vmessage *ngIf="!!cashregisterForm.get('defaultPaymentCondition').errors?.required && form.submitted"
              text="Condição de pagamento é requerido!">
            </ap-vmessage>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mt-2 mb-2">
            <div class="custom-control custom-switch">
              <input id="actived" type="checkbox" class="custom-control-input" formControlName="actived"
                aria-label="Caixa ativo">
              <label for="actived" class="custom-control-label">Caixa ativo</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <button class="btn btn-primary" type="submit">Salvar</button>
          <button class="btn btn-light ml-1" type="button" backButton>Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>