<h4 class="text-center">Login</h4>

<form #form="ngForm" [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input #emailInput formControlName="email" class="form-control" placeholder="E-mail" autofocus>
        <ap-vmessage *ngIf="!!loginForm.get('email').errors?.required && (form.submitted)" text="E-mail é requerido!">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="Senha">
        <ap-vmessage *ngIf="!!loginForm.get('password').errors?.required && (form.submitted)" text="Senha é requerida!">
        </ap-vmessage>
    </div>

    <div *ngIf="(signinVMsg$) as msg;" class="alert alert-danger" role="alert">
        {{ msg }}
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success btn-block">
        Entrar
    </button>

</form>

<p>Não é um usuário? <a [routerLink]="['signup']">Cadastre-se agora.</a></p>