<div class="d-flex flex-column w-100" [formGroup]="parentForm">
  <div class="d-flex flex-row w-100" *ngIf="!!showDisplay">
    <textarea #displayTextArea rows="3" class="w-100" disabled="true">{{ display }}</textarea>
  </div>
  <div class="d-flex flex-row">
    <input id="value" #valueInput type="number" class="form-control" step="0.01" [formControlName]="'value'"
      aria-label="Valor" placeholder="Valor" />
  </div>
  <div class="d-flex flex-row">
    <ng-content></ng-content>
  </div>
  <div class="d-flex flex-row">
    <button id="7" type="button" class="btn btn-outline-primary rounded-0 rounded-top-left w-100" role="group"
      (click)="pressButtom(7)">7</button>
    <button id="8" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(8)">8</button>
    <button id="9" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(9)">9</button>
    <button id="/" type="button" class="btn btn-primary opacity07 rounded-0 rounded-top-right w-100" role="group"
      (click)="pressButtom('/')">/</button>
  </div>
  <div class="d-flex flex-row">
    <button id="4" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(4)">4</button>
    <button id="5" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(5)">5</button>
    <button id="6" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(6)">6</button>
    <button id="*" type="button" class="btn btn-primary opacity07 rounded-0 w-100" role="group"
      (click)="pressButtom('*')">*</button>
  </div>
  <div class="d-flex flex-row">
    <button id="1" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(1)">1</button>
    <button id="2" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(2)">2</button>
    <button id="3" type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom(3)">3</button>
    <button id="-" type="button" class="btn btn-primary opacity07 rounded-0 w-100" role="group"
      (click)="pressButtom('-')">-</button>
  </div>
  <div class="d-flex flex-row">
    <button id="0" type="button" class="btn btn-outline-primary rounded-0 rounded-bottom-left w-100" role="group"
      (click)="pressButtom(0)">0</button>
    <button id="." type="button" class="btn btn-outline-primary rounded-0 w-100" role="group"
      (click)="pressButtom('.')">.</button>
    <button id="=" type="button" class="btn btn-success opacity07 rounded-0 w-100" role="group"
      (click)="pressButtom('=')">=</button>
    <button id="+" type="button" class="btn btn-primary opacity07 rounded-0 rounded-bottom-right w-100" role="group"
      (click)="pressButtom('+')">+</button>
  </div>
</div>