.rounded-top-left {
    border-top-left-radius: 0.25rem !important;    
}

.rounded-top-right {
    border-top-right-radius: 0.25rem !important;    
}

.rounded-bottom-left {
    border-bottom-left-radius: 0.25rem !important;    
}

.rounded-bottom-right {
    border-bottom-right-radius: 0.25rem !important;    
}

.btn-primary.opacity07 {
    background-color: rgba(0, 123, 255, 0.7);
}

.btn-success.opacity07 {
    background-color: rgba(40, 167, 69, 0.7);
}