<header>
    <nav class="navbar navbar-light bg-dark text-white">
        <a class="navbar-brand">
            <i showIfLogged tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()"
                class="fa fa-bars mr-2"></i>
            CONTROLE DE CAIXA
        </a>
        <ap-menu #menu>
            <ul class="list-group list-group-flush bg-light">
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['caixa']" (click)="menu.toggle()">Caixa</a>
                </li>
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['condicaodepagamento']" (click)="menu.toggle()">Condições de
                        pagamento</a>
                </li>
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['diario']" (click)="menu.toggle()">Controle diário</a>
                </li>
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['dashboard']" (click)="menu.toggle()">Dashboard</a>
                </li>
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['formadepagamento']" (click)="menu.toggle()">Formas de pagamento</a>
                </li>
                <li class="list-group-item">
                    <a showIfLogged [routerLink]="['vendedor']" (click)="menu.toggle()">Vendedores</a>
                </li>
            </ul>
        </ap-menu>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <span class="mr-1">{{ user.fullName | shortName }}</span>
            <a href="#" (click)="logout()" class="link text-white">(Logout)</a>
        </div>
        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']" class="text-white">Por favor, faça o login!</a>
            </span>
        </ng-template>
    </nav>
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</header>