<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-9 col-sm-9 col-md-4 col-xl-3">
      <h4>Caixas</h4>
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-xl-1 text-right" *ngIf="false">
      <button class="btn btn-info border" type="button" [routerLink]="['add']"> Novo</button>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-xl-8">
      <app-filter-list (onTyping)="filter = $event" [value]="filter"></app-filter-list>
    </div>
  </div>
  <div class="row">
    <p class="text-center text-muted" *ngIf="!(cashregister | filterByIdNames: filter).length">
      Desculpe, não foram encontrados caixas
    </p>
    <table class="table table-striped table-hover" *ngIf="(cashregister | filterByIdNames: filter).length">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Apelido</th>
          <th scope="col">Método pagamento</th>
          <th scope="col">Condição de pagamento</th>
          <th scope="col">Ativo</th>
          <th scope="col">Funções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cashregister of (cashregister | filterByIdNames: filter)">
          <th scope="row">{{ cashregister.id }}</th>
          <td>{{ cashregister.nickName }}</td>
          <td>{{ cashregister.defaultPaymentMethod.nickName }}</td>
          <td>{{ cashregister.defaultPaymentCondition.nickName }}</td>
          <td>{{ cashregister.actived | actived }}</td>
          <td>
            <a [routerLink]="['/caixa', cashregister.id]" class="m-1 text-dark" aria-label="Editar">
              <i class="fa fa-edit"></i>
            </a>
            <a [routerLink]="" (click)="remove(cashregister.id)" class="m-1 text-dark" aria-label="Excluir">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>