<div class="container-fluid">
  <div class="row bg-info text-white py-2 align-middle">
    <div class="col-9 col-sm-9 col-md-4 col-xl-3">
      <h4>Condições de pagamento</h4>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <form #form="ngForm" [formGroup]="paymentconditionForm" class="form mt-4" (submit)="save()">
        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="nickname">Apelido</label>
            <input id="nickname" #nickNameInput type="text" class="form-control" formControlName="nickName"
              aria-label="Apelido" placeholder="Apelido">
            <ap-vmessage *ngIf="!!paymentconditionForm.get('nickName').errors?.required && form.submitted"
              text="Apelido é requerido!">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!paymentconditionForm.get('nickName').errors?.minlength && (form.submitted || paymentconditionForm.get('nickName').touched)"
              text="O apelido deve ter ao menos 2 caracteres">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!paymentconditionForm.get('nickName').errors?.maxlength && (form.submitted || paymentconditionForm.get('nickName').touched)"
              text="O apelido deve ter no máximo 16 caracteres">
            </ap-vmessage>
            <ap-vmessage text="Apelido já existe" *ngIf="!!paymentconditionForm.get('nickName').enabled && !!paymentconditionForm.get('nickName').errors?.nickNameTaken">
            </ap-vmessage>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="name">Nome</label>
            <input id="name" #fullNameInput type="text" class="form-control" formControlName="fullName"
              aria-label="Nome" placeholder="Nome completo" autofocus>
            <ap-vmessage *ngIf="!!paymentconditionForm.get('fullName').errors?.required && form.submitted"
              text="Nome é requerido!">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!paymentconditionForm.get('fullName').errors?.minlength && (form.submitted || paymentconditionForm.get('fullName').touched)"
              text="O nome deve ter ao menos 2 caracteres">
            </ap-vmessage>
            <ap-vmessage
              *ngIf="!!paymentconditionForm.get('fullName').errors?.maxlength && (form.submitted || paymentconditionForm.get('fullName').touched)"
              text="O nome deve ter no máximo 60 caracteres">
            </ap-vmessage>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mt-2 mb-2">
            <div class="custom-control custom-switch">
              <input id="actived" type="checkbox" class="custom-control-input" formControlName="actived"
                aria-label="Codição de pagamento ativa">
              <label for="actived" class="custom-control-label">Condição de pagamento ativa</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <button class="btn btn-primary" type="submit">Salvar</button>
          <button class="btn btn-light ml-1" type="button" backButton>Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>