.menu-bar {
    position: fixed;
    height: 100%;
    width: 90%;
    max-width: 320px;
    margin: 0;
    padding: 1em 0em 1em 1em;    
    background: #17a2b8;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    z-index: 1050;
}

.active-menu .menu-bar {
    left: 0;
}

.active-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.4);
    z-index: 1040;
}